<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>图表分析</title>
    <link href="css/chartPage.css" rel="stylesheet">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/chartPage.js"></script>
</head>
<body>
<div id="herder">

</div>
<div id="main">
    <div class="main-left">
        <div id="video"></div>
    </div>

    <div class="main-right">
        <div id="chart-all" style="height:350px"></div>
        <div class="break-up"></div>
        <div id="chart-sex" style="height:350px"></div>
    </div>
</div>
<div id="footer">页脚</div>

<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
</body>
</html>