<!DOCTYPE HTML>
<html>
<head>
    <title>Shows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
        getVideos();
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>

    <script type="text/html" class="hidden" id="template_pagination">
        <nav v-if="page > 1">
            <ul class="pagination">
                <li><a href="javascript:;" v-show="current > 1" @click="current =1"> 首页 </a></li>
                <li><a href="javascript:;" v-show="current > 1" @click="--current"> 上一页 </a></li>
                <li v-for="n in page" :class="{ 'active': n + 1 == current }"><a href="javascript:;"
                                                                                 @click="current = n + 1"> {{ n + 1
                    }} </a></li>
                <li><a href="javascript:;" v-show="current < page" @click="++current"> 下一页</a></li>
                <li><a href="javascript:;" v-show="current < page" @click="current = page"> 尾页 </a></li>
            </ul>
            <ul class="pagination pull-right">
                <li><span> 共 {{ total }} 条数据 </span></li>
                <li><span> 每页 {{ display }} 条数据 </span></li>
                <li><span> 共 {{ page }} 页 </span></li>
                <li><span> 当前第 {{ current }} 页 </span></li>
            </ul>
        </nav>
    </script>
    <!-- bootstrap -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all"/>
    <!-- //bootstrap -->
    <link href="css/dashboard.css" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all"/>
    <script src="js/jquery-1.11.1.min.js"></script>
    <!--使用axios必须有-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/interact.js"></script>
    <!--start-smoth-scrolling-->

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><h1><img src="images/logo.png" alt=""/></h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="top-search">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <input type="submit" value=" ">
                </form>
            </div>
            <div class="header-top-right">
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</nav>
<div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="images/lines.png" alt=""/>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li><a href="#" class="home-icon">home</a>
            </li>
            <li><a href="#" class="menu1">sex</span></a></li>
            <ul class="cl-effect-2">
                <li><a href="#">movies for boy</a></li>
                <li><a href="#">movies for girl</a></li>
            </ul>
            <!-- script-for-menu -->
            <script>
                $("li a.menu1").click(function () {
                    $("ul.cl-effect-2").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            </script>
        </ul>
        <!-- script-for-menu -->
        <!--<script>
            $(".top-navigation").click(function () {
                $(".drop-navigation").slideToggle(300, function () {
                    // Animation complete.
                });
            });
        </script>-->
        <div class="side-bottom">
            <!--  <div class="side-bottom-icons">
                  <ul class="nav2">
                      <li><a href="#" class="facebook"> </a></li>
                      <li><a href="#" class="facebook twitter"> </a></li>
                      <li><a href="#" class="facebook chrome"> </a></li>
                      <li><a href="#" class="facebook dribbble"> </a></li>
                  </ul>
              </div>-->
            <div class="copyright">
                <p>Copyright &copy; 2015.Company name All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="content" class="recommended">
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="footer-grids">
            <div class="footer-top">
                <div class="footer-top-nav">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="copyright.html">Copyright</a></li>
                        <li><a href="creators.html">Creators</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="developers.html">Developers</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-nav">
                    <ul>
                        <li><a href="terms.html">Terms</a></li>
                        <li><a href="privacy.html">Privacy</a></li>
                        <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
                        <li><a href="privacy.html">Policy & Safety </a></li>
                        <li><a href="try.html">Try something new!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
</div>
<div class="clearfix"></div>
<div class="drop-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
    </ul>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>
</html>