<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        #header {
            width: 98%;
            height: 100px;
            background-color: darkgrey;
            margin: 10px;
        }

        #bodies {
            width: 100%;
            height: 1500px;
            background-color: darkseagreen;
        }

        #videos {
            width: 100%;
            height: 300px;
            margin: 10px 10px;
        }

        #videos .pic_item {
            width: 16%;
            margin: 5px 5px 0 0;
            float: left;
        }

        .list_item .pic_item .figure .figure_count{
            position: relative;
            left: 4px;
            bottom: 4px;
            padding: 0 4px;
            background-color: rgba(17,17,17,.8);
            font-size: 12px;
            line-height: 20px;
            color: #fff;
            z-index:1;
        }

        li {list-style: none;}

        #footer {
            width: 100%;
            height: 100px;
            background-color: dimgrey;
        }

    </style>
</head>
<body>
<div id="header">

</div>
<div id="bodies">
    <div id="videos">
        <ul class="list_item">
            <li class="pic_item">
                <a href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" target="_blank" class="figure" tabindex="-1"
                   _stat="movie_v3_new:img" data-float="xyaud3hk6mmi6ss">
                    <img class="figure_pic" alt="追龙" onerror="picerr(this,'v')"
                         src="//puui.qpic.cn/tv/0/16646093_209290/0" style="visibility: visible;">
                    <div class="figure_count">
                        02:08:57
                    </div>
                    <div class="figure_detail figure_detail_two_row">
                        <strong class="figure_title figure_title_two_row"><a
                                href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" title="追龙"
                                _stat="movie_v3_new:title" target="_blank">追龙</a></strong>
                        <div class="figure_desc" title="年度最佳港片没有之一">
                            年度最佳港片没有之一
                        </div>
                    </div>
                </a>
            </li>
            <li class="pic_item">
                <a href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" target="_blank" class="figure" tabindex="-1"
                   _stat="movie_v3_new:img" data-float="xyaud3hk6mmi6ss">
                    <img class="figure_pic" alt="追龙" onerror="picerr(this,'v')"
                         src="//puui.qpic.cn/tv/0/16646093_209290/0" style="visibility: visible;">
                    <div class="figure_count">
                        02:08:57
                    </div>
                    <div class="figure_detail figure_detail_two_row">
                        <strong class="figure_title figure_title_two_row"><a
                                href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" title="追龙"
                                _stat="movie_v3_new:title" target="_blank">追龙</a></strong>
                        <div class="figure_desc" title="年度最佳港片没有之一">
                            年度最佳港片没有之一
                        </div>
                    </div>
                </a>
            </li>

            <li class="pic_item">
                <a href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" target="_blank" class="figure" tabindex="-1"
                   _stat="movie_v3_new:img" data-float="xyaud3hk6mmi6ss">
                    <img class="figure_pic" alt="追龙" onerror="picerr(this,'v')"
                         src="//puui.qpic.cn/tv/0/16646093_209290/0" style="visibility: visible;">
                    <div class="figure_count">
                        02:08:57
                    </div>
                    <div class="figure_detail figure_detail_two_row">
                        <strong class="figure_title figure_title_two_row"><a
                                href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" title="追龙"
                                _stat="movie_v3_new:title" target="_blank">追龙</a></strong>
                        <div class="figure_desc" title="年度最佳港片没有之一">
                            年度最佳港片没有之一
                        </div>
                    </div>
                </a>
            </li>

            <li class="pic_item">
                <a href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" target="_blank" class="figure" tabindex="-1"
                   _stat="movie_v3_new:img" data-float="xyaud3hk6mmi6ss">
                    <img class="figure_pic" alt="追龙" onerror="picerr(this,'v')"
                         src="//puui.qpic.cn/tv/0/16646093_209290/0" style="visibility: visible;">
                    <div class="figure_count">
                        02:08:57
                    </div>
                    <div class="figure_detail figure_detail_two_row">
                        <strong class="figure_title figure_title_two_row"><a
                                href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" title="追龙"
                                _stat="movie_v3_new:title" target="_blank">追龙</a></strong>
                        <div class="figure_desc" title="年度最佳港片没有之一">
                            年度最佳港片没有之一
                        </div>
                    </div>
                </a>
            </li>

            <li class="pic_item">
                <a href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" target="_blank" class="figure" tabindex="-1"
                   _stat="movie_v3_new:img" data-float="xyaud3hk6mmi6ss">
                    <img class="figure_pic" alt="追龙" onerror="picerr(this,'v')"
                         src="//puui.qpic.cn/tv/0/16646093_209290/0" style="visibility: visible;">
                    <div class="figure_count">
                        02:08:57
                    </div>
                    <div class="figure_detail figure_detail_two_row">
                        <strong class="figure_title figure_title_two_row"><a
                                href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" title="追龙"
                                _stat="movie_v3_new:title" target="_blank">追龙</a></strong>
                        <div class="figure_desc" title="年度最佳港片没有之一">
                            年度最佳港片没有之一
                        </div>
                    </div>
                </a>
            </li>

            <li class="pic_item">
                <a href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" target="_blank" class="figure" tabindex="-1"
                   _stat="movie_v3_new:img" data-float="xyaud3hk6mmi6ss">
                    <img class="figure_pic" alt="追龙" onerror="picerr(this,'v')"
                         src="//puui.qpic.cn/tv/0/16646093_209290/0" style="visibility: visible;">
                    <div class="figure_count">
                        02:08:57
                    </div>
                    <div class="figure_detail figure_detail_two_row">
                        <strong class="figure_title figure_title_two_row"><a
                                href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" title="追龙"
                                _stat="movie_v3_new:title" target="_blank">追龙</a></strong>
                        <div class="figure_desc" title="年度最佳港片没有之一">
                            年度最佳港片没有之一
                        </div>
                    </div>
                </a>
            </li>

            <li class="pic_item">
                <a href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" target="_blank" class="figure" tabindex="-1"
                   _stat="movie_v3_new:img" data-float="xyaud3hk6mmi6ss">
                    <img class="figure_pic" alt="追龙" onerror="picerr(this,'v')"
                         src="//puui.qpic.cn/tv/0/16646093_209290/0" style="visibility: visible;">
                    <div class="figure_count">
                        02:08:57
                    </div>
                    <div class="figure_detail figure_detail_two_row">
                        <strong class="figure_title figure_title_two_row"><a
                                href="https://v.qq.com/x/cover/xyaud3hk6mmi6ss.html" title="追龙"
                                _stat="movie_v3_new:title" target="_blank">追龙</a></strong>
                        <div class="figure_desc" title="年度最佳港片没有之一">
                            年度最佳港片没有之一
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="footer">

</div>
</body>
</html>