<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.modules.bean.dao.IRelationDAO">

    <insert id="insertRecord" parameterType="list">
        INSERT into `relation`(`cid`,`user_name`,`comment`,`add_time`,`modification_time`) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cid},#{item.userName},#{item.comment},#{item.addTime},CURRENT_TIMESTAMP)
        </foreach>
    </insert>
</mapper>