<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sun.modules.bean.dao.IVideoDAO">

    <insert id="insertVideoInfo" parameterType="list">
        INSERT into
        `video`(`cid`,`name`,`time`,`actors`,`type`,`url`,`picture_path`,`detail`,`add_time`,`modification_time`)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cid},#{item.name},#{item.time},#{item.actors},#{item.type},
            #{item.url},#{item.picturePath},#{item.detail},#{item.addTime},CURRENT_TIMESTAMP )
        </foreach>
    </insert>
</mapper>